.App {
  margin: 10px;
}
.search-div form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.search-div {
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.imageList {
  columns: 250px 5;
  column-gap: 10px;
}
.imageListImg {
  width: 100%;
  margin-bottom: 10px;
}